<ion-header>
  <ion-navbar>
    <ion-title text-center>
      Open File
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <button full ion-button color = "dark" (click)="openAnyFile()">Open Any File</button>
</ion-content>
